@tailwind base;

@tailwind components;

@tailwind utilities;



@font-face {
    font-family: AlarabyTelevision-Bold;
    src: url(https://cdn.jsdelivr.net/gh/truegaming/pubic_site_content@prod26feb19b/fonts/AlarabyTelevision-Bold.eot);
    src: url(https://cdn.jsdelivr.net/gh/truegaming/pubic_site_content@prod26feb19b/fonts/AlarabyTelevision-Bold.woff2) format('woff2'), url(https://cdn.jsdelivr.net/gh/truegaming/pubic_site_content@prod26feb19b/fonts/AlarabyTelevision-Bold.woff) format('woff'), url(https://cdn.jsdelivr.net/gh/truegaming/pubic_site_content@prod26feb19b/fonts/AlarabyTelevision-Bold.ttf) format('truetype'), url(https://cdn.jsdelivr.net/gh/truegaming/pubic_site_content@prod26feb19b/fonts/AlarabyTelevision-Bold.svg#AlarabyTelevision-Bold) format('svg'), url(https://cdn.jsdelivr.net/gh/truegaming/pubic_site_content@prod26feb19b/fonts/AlarabyTelevision-Bold.eot?#iefix) format('embedded-opentype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: AlarabyTelevision-Medium;
    src: url(https://cdn.jsdelivr.net/gh/truegaming/pubic_site_content@prod26feb19b/fonts/AlarabyTelevision-Medium.eot);
    src: url(https://cdn.jsdelivr.net/gh/truegaming/pubic_site_content@prod26feb19b/fonts/AlarabyTelevision-Medium.woff2) format('woff2'), url(https://cdn.jsdelivr.net/gh/truegaming/pubic_site_content@prod26feb19b/fonts/AlarabyTelevision-Medium.woff) format('woff'), url(https://cdn.jsdelivr.net/gh/truegaming/pubic_site_content@prod26feb19b/fonts/AlarabyTelevision-Medium.ttf) format('truetype'), url(https://cdn.jsdelivr.net/gh/truegaming/pubic_site_content@prod26feb19b/fonts/AlarabyTelevision-Medium.svg#AlarabyTelevision-Bold) format('svg'), url(https://cdn.jsdelivr.net/gh/truegaming/pubic_site_content@prod26feb19b/fonts/AlarabyTelevision-Medium.eot?#iefix) format('embedded-opentype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: AlarabyTelevision-Regular;
    src: url(https://cdn.jsdelivr.net/gh/truegaming/pubic_site_content@prod26feb19b/fonts/AlarabyTelevision-Regular.eot);
    src: url(https://cdn.jsdelivr.net/gh/truegaming/pubic_site_content@prod26feb19b/fonts/AlarabyTelevision-Regular.woff2) format('woff2'), url(https://cdn.jsdelivr.net/gh/truegaming/pubic_site_content@prod26feb19b/fonts/AlarabyTelevision-Regular.woff) format('woff'), url(https://cdn.jsdelivr.net/gh/truegaming/pubic_site_content@prod26feb19b/fonts/AlarabyTelevision-Regular.ttf) format('truetype'), url(https://cdn.jsdelivr.net/gh/truegaming/pubic_site_content@prod26feb19b/fonts/AlarabyTelevision-Regular.svg#AlarabyTelevision-Bold) format('svg'), url(https://cdn.jsdelivr.net/gh/truegaming/pubic_site_content@prod26feb19b/fonts/AlarabyTelevision-Regular.eot?#iefix) format('embedded-opentype');
    font-weight: 400;
    font-style: normal
}

.artcile-single {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.artcile-single:hover div,
.artcile-single:hover span,
.artcile-single:hover i,
.artcile-single:hover h2,
.artcile-single:hover a {
    color: #e53e3e;
}

.colorw {
    color: white !important;
}
.artcile-single:hover .tag-gray {
    border-color: #e53e3e;
}

.artcile-single:last-child {
    border: none;
}

.menu-element .submenu-element {
    display: none;
    visibility: hidden;
}

.menu-element:hover .submenu-element {
    display: flex;
    visibility: visible;
}



@media (min-width: 1024px) {
    .submenu-element {
        top: 3rem !important; 
    }
  }